<!-- carmaint/templates/carmaint/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Maintenance Logger</title>
    <link rel="stylesheet" href="{% static 'css/carmaint.css' %}">
</head>
<body>
    <h1>Carmod Tracker</h1>
    <nav>
        <a href="{% url 'car_list' %}">Cars</a>
        <a href="{% url 'maintenance_list' %}">Maintenance</a>
    </nav>
    {% block content %}
    {% endblock %}    
</body>
</html>