{% extends "carmaint/base.html" %}

{% block content %}
<h3>{{ car.make }} - {{ car.model }} <a class="edit" href="{% url 'car_edit' pk=car.pk %}">(edit)</a><a class="delete" href="{% url 'car_delete' pk=car.pk %}" onclick="return confirm('Are you sure you want to delete this?')"> (delete)</a></h3>
<h4>Year:  {{ car.year }}</h4>
<h4>Trim:  {{ car.trim }}</h4>
<img src="{{ car.image_url }}" class = "car-image" alt="car image">
<h4>Maintenances: <a href="{% url 'maintenance_create' %}">(Add New Maintenance)</a></h4>
<ul>
  {% for maintenance in car.maintenances.all %}
  <li>
    <h5><a href="{% url 'maintenance_detail' pk=maintenance.pk %}">{{ maintenance.desc }}</a><a class="edit" href="{% url 'maintenance_edit' pk=maintenance.pk %}">(edit)</a><a class="delete" href="{% url 'maintenance_delete' pk=maintenance.pk %}" onclick="return confirm('Are you sure you want to delete this?')"> (delete)</a></h5>
  </li>
  {% endfor %}
</ul>


{% endblock %}